.main {
  margin: 0 auto 0 auto;
  width: 92%;
}
.headerTitle {
  font-size: 1.5rem;
  margin: 30px 0;
  text-align: center;
}
.heading {
  background-color: #1D242D;
  border-radius: 15px;
  padding: 25px 25px;
  position: relative;
}
.details {
  display: grid;
  gap: 35px;
}
.details .title {
  display: grid;
  padding: 20px 10px;
}
.details h1 {
  color: #ffff;
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 1.5rem;
}
.musicForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px 10px;
}
.musicForm span {
  color: #fff;
  text-align: center;
  border: 1px solid #0779FD;
  padding: 15px;
  border-radius: 360px;
  width: 150px;
  display: block;
}
.musicForm label {
  cursor: pointer;
  background: #0779FD;
  border-radius: 360px;
  padding: 15px;  
  color: #ffff;
  text-align: center;
  width: 150px;
  display: block;
}
.musicForm input {
  display: none;
}
.heading .entertainImage {
  position: absolute;
  bottom: 0;
  height: 420px;
  left: 60%;
  width: 220px;
  height: 220px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
.emptyList {
  text-align: center;
  margin: 40px 0;
}
.emptyList p, .playlistTitle {
  font-weight: bold;
  margin: 30px 0;
  font-size: 1.5rem;
}
.emptyList img {
  height: 40px;
  width: 40px;
  margin: auto;
}
.category{
  background-color: #F6F6F7;
  border-radius: 15px;
}
.dragList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0 20px 0px;
  grid-gap: 30px 0px;
}
.playlist {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 360px;
}
.songColor {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 70px;
  justify-content: center;
  color: #fff;
}
.songDetails {
  display: flex;
  flex-direction: column;
  padding: 13px 10px;
  width: 220px;
}
.songDetails span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 6px 0px;
}
.playPause {
  display: flex;
  align-items: center;
  width: 70px;
}
.playPause button {
  cursor: pointer;
  margin: auto;
}
