.main {
  margin: 0 auto 0 auto;
  width: 92%;
}
.headerTitle {
  font-size: 1.5rem;
  margin: 30px 0;
  text-align: center;
}
.heading {
  background-color: #1D242D;
  border-radius: 15px;
  padding: 25px 25px;
  position: relative;
}
.details {
  display: grid;
  gap: 35px;
}
.details .title {
  display: grid;
  padding: 20px 10px;
}
.details h1 {
  color: #ffff;
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 1.5rem;
}
.musicForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px 10px;
}
.musicForm span {
  color: #fff;
  text-align: center;
  border: 1px solid #0779FD;
  padding: 15px;
  border-radius: 360px;
  width: 150px;
  display: block;
}
.musicForm label {
  cursor: pointer;
  background: #0779FD;
  border-radius: 360px;
  padding: 15px;  
  color: #ffff;
  text-align: center;
  width: 150px;
  display: block;
}
.musicForm input {
  display: none;
}
.heading .entertainImage {
  position: absolute;
  bottom: 0;
  height: 420px;
  left: 60%;
  width: 220px;
  height: 220px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.emptyList {
  height: 30vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.emptyList p, .dragList p {
  font-weight: bold;
}
.emptyList img {
  height: 40px;
  width: 40px;
  margin: auto;
}

.allList {
  height: 30vh;
}
